data/sentiment-emotion-labelled_Dell_tweets.csv
torch_data.pth
sentiment.pth
sentiment.npy
sentences.npy
newsentences.npy
confidence.npy
weights-and-biases/b0.npy
weights-and-biases/b1.npy
weights-and-biases/b2.npy
weights-and-biases/w0.npy
weights-and-biases/w1.npy
weights-and-biases/w2.npy
momentum/w0.npy
momentum/w1.npy
momentum/w2.npy
momentum/b0.npy
momentum/b1.npy
momentum/b2.npy
